@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background-color: #F2EEEE;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
  overflow-x:  hidden !important;
  font-family: 'Noto Sans', sans-serif;
}

.scrollbar-track-x{
  display: none !important;
}

a{
  text-decoration: none;
}
li{
  list-style: none;
}

.btn{
  position: relative;
  z-index: 1;
  transition: all 0.5s ease;

}
.btn::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  z-index: -1;
  border-radius: 40px;
  height: 100%;
  overflow: hidden;
  background: #2957A7;
  transition: all 0.5s ease-in;
}
.btn:hover::after{
  width: 100%;
}

.projDetailLogo > svg{
  font-size: 77px;
  color: #494747;
}